/* CSS */
.div-logo {
    background-color: aqua;
    float: left;
    width: 15%;

    text-align: center;
    font-size: 0.8vw;
}

.div-login {
    background-color: lightgoldenrodyellow;
    float: right;
}

.div-work {
    background-color: lightsalmon;
    float: right;
    text-align: center;
}

.div-header {
    background-color: lightcoral;
    height: 10%;
    width: 99%;
    margin: 10px;
    text-align: right;
    float: left;
}

.div-body{
    background-color: lightslategray;
    margin: 10px;
    height: 100%;
    width: 99%;
    float: left;
}

.div-computerlist {
    background-color: lightgray;
    height: 100%;
    width: 15%;
    float: left;
    text-align: left;
}

.div-computerfield {
    background-color: lightsalmon;
    float: right;
    width: 85%;
}

.loanbutton {
    background-color: lightgreen;
    font-weight: bold;
    border-style:none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.bankbutton {
    background-color: yellow;
    font-weight: bold;
    border-style:none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.workbutton {
    background-color: darkcyan;
    font-weight: bold;
    border-style:none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.buybutton {
    background-color: lightseagreen;
    font-weight: bold;
    border-style:none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.repaybutton {
    background-color: greenyellow;
    font-weight: bold;
    border-style:none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.talklabel {
    color: red;
}

img{
    max-width: 500px;
    max-height: 250px;
}